.gradient-overlay.svelte-1lc7tvy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(190deg, #1f80f0 15.05%, rgba(31, 128, 240, 0) 30.39%)
}

#home-hero__content__container.svelte-n9olsd {
    background: radial-gradient(59.82% 121.73% at -9.66% 130.31%, #00e9ea 0%, #1f80f0 52.08%, #005bc4 100%)
}

@media only screen and (max-width: 1024px) {
    #home-hero__content__container.svelte-n9olsd {
        background: radial-gradient(134.02% 81.35% at -9.66% 129.92%, #00e9ea 0%, #1f80f0 52.08%, #005bc4 100%)
    }
}